.header {
  display: flex;
  align-items: center;
  font-size: 40px;
  background-color: #3b5998;
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
}

.mainConteiner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-image: url("/photo-1459749411175-04bf5292ceea.avif");
  background-size: cover;
}
.titulo {
  font-size: 40px;
  color: white;
}

.opciones {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 20px;
  cursor: pointer;
}

.opciones .favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 16px;
  height: 100%;
  width: 200px;
  background-color: rgba(0,0,0,0.7);
}

.opciones .albums {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 16px;
  height: 100%;
  width: 200px;
  background-color: #7C3AED;
}
