.albumpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121111;
  padding: 60px;
  color: white; 
}

.cancionesContainer {
  background-color: #1f1f1f;
  width: 1000px;
  border-radius: 20px;
  padding: 35px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.cancionesContainer h3 {
  font-size: 24px;
  color: #a855f7;
  margin-bottom: 25px;
  text-align: center;
}


.back-button {
  margin-top: 40px;
  color: #a855f7;
  font-size: 17px;
}

.back-button:hover {
  color: #c026d3;
}
